<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xdd.dao.StoreDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xld.pojo.Store">
        <id column="store_id" property="storeId" />
        <result column="store_name" property="storeName" />
        <result column="store_address" property="storeAddress" />
    </resultMap>

</mapper>
